:root{
    --primary-color: #03b6e7;
    --secondary-color: #ffac56;
    --ternery-color: #16d428;
    --common-color: #1c1c1c;
    --active-color: #0099cc;

    --white-color: #fff;
    --commontwo-color: #727779;
    --drescription-color: #5f5e5e;
    --drescription-font: 'Domine', serif;
    --heading-font: 'Montserrat', sans-serif;
}


.hero_back{
    width: 100%; position: relative;
    .slide_option{
        width: 100%; height: 70rem; position: relative;
        img{
            width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover;
        }
    }
    .owl-nav{
        width: 100%; height: 10.6rem; position: absolute; top: 0; bottom: 0; margin: auto;
        button{
            width: 4.6rem; height: 100%; position: absolute; top: 0;  background-color: #333333 !important; color: var(--white-color) !important; font-size: 1.8rem !important; border-radius: 0 !important; margin: 0 !important;
            &.owl-prev{
                left: 0;
            }
            &.owl-next{
                right: 0;
            }
        }
    }
    .container{
        position: relative;
        .banner_content{
            position: absolute; width: 40%; bottom: 0; left: 0; z-index: 99;
            .head{
                width: 100%; padding: 3.4rem 0 3.4rem 3.4rem; background-color: var(--secondary-color);
                h2{
                    color: var(--white-color); font-weight: 300; font-size: 3rem; text-transform: uppercase;
                    span{
                        font-weight: normal; font-size: 1.4rem;
                    }
                }
            }
            .option{
                width: 100%; background-color: var(--primary-color); flex-wrap: wrap;
                li{
                    flex: 0 0 50%; max-width: 50%; height: 12.8rem; border-bottom: var(--active-color) 1px solid; border-right: var(--active-color) 1px solid; transition: all .3s ease-in;
                    &:nth-child(2n+2){
                        border-right: none;
                    }
                    h3{
                        color: var(--white-color); font-size: 1.4rem; font-weight: normal; text-transform: uppercase; display: block; width: 100%; position: relative;
                        &::after{
                            background-image: url(../images/arrow-oval.png); width: 2.6rem; height: 2.6rem; background-size: contain; position: absolute; right: 3.8rem; top: 0; bottom: 0; margin: auto; content: "";
                        }
                    }
                    a{
                        width: 100%; padding-left: 3.8rem;
                        
                    }
                    img{
                        display: block; margin-bottom: 1rem;
                    }
                    &:hover{
                        background-color: var(--active-color);
                    }
                    .custom_button{
                        width: 100%; text-align: center;
                        a{
                            width: 14.8rem; padding-left: 0;
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width:1024px){
    .hero_back {
        .container {
            .banner_content{
                width: 50%; left: 9rem;
            }
        }
    }
}

@media only screen and (max-width:767px){
    .hero_back {
        .container {
            padding: 0;
            .banner_content{
                width: 100%; position: relative; left: 0;
            }
        }
        .slide_option{
            height: 40rem;
        }
    }
}